.qirmizi {
        background-color: red;
        height: 300px;
        width: 300px;

}
.goy {
    background-color:  blue;
    height: 200px;
    width: 200px;
}
.sari{
    background-color: yellow;
    height: 100px;
    width: 100px;
}